<h1>Wryskie Ammo</h1>
<div class="form-container">
  <p>
    <mat-form-field class="input" appearance="outline">
      <mat-label>RoundsPerBox</mat-label>
      <input matInput [(ngModel)]="model.roundsPerBox" type="num">
      <mat-hint>Amt of bullets in a box</mat-hint>
    </mat-form-field>
  </p>
  <div class="form-box">
<!-- Use the "form-box" class to place inputs on the same line. -->
  </div>
  <div class="form-box">
    <button mat-raised-button (click)="submit()" color="primary">Submit</button>
  </div>
</div>

<h2 class="result">{{result == undefined ? "No result calculated yet." : result}}</h2>

<!--New Input Template-->
<!--<p>-->
<!--  <mat-form-field class="input" appearance="outline">-->
<!--    <mat-label>_______</mat-label>-->
<!--    <input matInput [(ngModel)]="model._______" type="num | string">-->
<!--    <mat-hint>____________</mat-hint>-->
<!--  </mat-form-field>-->
<!--</p>-->
